

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo img {
  height: 156px;
  width: 156px;
}

.logo h3 {
  color: #61dafb;
}
.logo {
  text-align: center;
}

.todo {
  width: auto;
  height: 20px;
}
.todo h1 {
  font-size: 30px;
  margin-left: 20px;
  border-bottom: 20px;
}

.formInput {
  margin-bottom: 2rem;
}
.formInput h1 {
  font-size: 20px;
}